.discipline {
    margin: 0px 2rem;
}

.discipline h1 {
    text-transform: uppercase;
    text-align: center;
    margin : 2rem 0;
}


.discipline_box {
    display: flex;
    text-align: center;
    align-items: center;
    margin : 2rem 0;
}

.discipline_description p {
    margin : 1rem 2rem;
}

.discipline_description {
    flex: 2;
}

.discipline_description h2 {
    margin-bottom: 2rem;
}

.discipline_image {
    flex: 1;
}

.discipline_image img {
    border-radius: 20px;
}