/* Top left */
.top_footer {
    background-color: #181818;
    color: white;
    display: flex;
    flex-direction: row;
    padding : 0px 20px;
}

.left_footer {
    display: flex;
    align-items: center;
    flex: 2;
}

.description_footer {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.description_footer > p{
    margin-left :22px;
    margin-bottom: 15px;
}

.footer_title, .footer_number, .footer_adress{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer_title {
    font-weight: bold;
    display: flex;
    font-size: 1.2rem;
}

.footer_title img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.footer_number img, .footer_adress img {
    min-width: 20px;
    height: 20px;
    margin-right: 2px;
}

/* Mentions légales */

.footer_mentions {
    display: flex;
    flex-direction: column;
    margin-left: 22px;
}

.footer_mentions a{
    color: white; 
    text-decoration: none; 
    margin: 1px 0;
}

/* Map */

.map_footer {
    width: 80%;
    height: 75%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Top right */

.right_footer {
    flex: 1;
}

.right_footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 20px auto;

}

.right_footer input, textarea {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    resize: none;
}

.right_footer textarea {
    height: 5rem;
    min-height: 3rem;
}

.right_footer h1 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.right_footer button {
    background-color: yellow;
    color: black;
    font-weight: bold;
    padding: 8px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Bot */

.bot_footer {
    background-color: black;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0px 40px
}
