  nav {
    box-shadow: 0 5px 10px rgba(165, 165, 165, 0.5); 
  }
    
  .navbar {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 4.5rem;
    margin: 0 auto;
    background-color: white;
  }

  .navbar img {
    width: 3.5rem;
    height: 3.5rem;
  }
  
  nav ul {
    display: flex;
    align-items: center;
  }
  
  .navbar ul li:not(:last-child) {
    width: 6.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: Teko;
    /* text-transform: uppercase; */
    letter-spacing: 0.8px;
  }
  
  .material-symbols-outlined {
    font-size: 2rem;
    margin-left: 1rem;
  }
  
  li:hover, .material-symbols-outlined:hover{
    color: rgb(205, 181, 0);
    cursor: pointer;    
    transition: color 0.3s ease;
  }