/* @font-face {
  font-family : Poppins;
  src : url(./assets/fonts/Poppins.woff);
} */

* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: 100%;
}
